<div class="main posts-main">
    <div class="container">
        <div class="posts-show-item">
            <p><%= @data.judul %></p>
            <p><%= @data.deskripsi %></p>
            
            <div class="post-time">
                <%= @data.created_at  %>
            </div>
            <a href="/postingan/index">Kembali</a>
        </div>
    </div>
</div>